<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.iiuctime">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="IIUC TIME"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CrTeachersActivity"></activity>
        <activity android:name=".CrListActivity" />
        <activity android:name=".CrNoticeActivity" />
        <activity android:name=".SingupActivity" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".ClassRoutine.RoutineActivity"
            android:parentActivityName=".ListActivity"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".ClassTeacher.TeacherActivity"
            android:parentActivityName=".ListActivity" />
        <activity
            android:name=".ClassNotice.NoticeActivity"
            android:parentActivityName=".ListActivity" />
        <activity
            android:name=".ListActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>